<a href="/">HOME</a>
<a href="/uploader">Upload</a>
<a href="/deletefile">Delete</a>
<br><hr>
<h1>IBM Object Storage</h1>


<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
   </head>
   <body align="center">
      {% for row in files %}
         <div style="border: 1px solid #EFEFEF;margin:10px;">
            <h3>Filename : {{row}} </h3>
            <img src="https://hari-harra-sudhan-assignment3.s3.au-syd.cloud-object-storage.appdomain.cloud/{{row}}" width="150px"></td>
         </div>
      {% endfor %}
      <script>
         window.watsonAssistantChatOptions = {
           integrationID: "a2e9314d-8621-4d40-aed5-7c74a54c0a86", // The ID of this integration.
           region: "au-syd", // The region your integration is hosted in.
           serviceInstanceID: "395c267c-6163-4d42-8442-a7ffd444e0e6", // The ID of your service instance.
           onLoad: function(instance) { instance.render(); }
         };
         setTimeout(function(){
           const t=document.createElement('script');
           t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
           document.head.appendChild(t);
         });
       </script>
   </body>
</html>
